doctype html
html
  head
    title Browserify boilerplate
    meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
    meta(content="ja", http-equiv="Content-Language")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    script(type="text/javascript" src="js/sub.js")
  body
    a(href="index.html") link to index
    #content
